*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 70%;
  padding: 20px;
  background-color: red;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  .title{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
  }
  .form{
    width: 60%;
    background-color: blue;
    text-align: center;
    input{
      width: 80%;
      height: 30px;
      padding: 5px;
      border: none;
      border-radius: 10px;
    }
    .search{
      width: 80px;
      height: 25px;
      border: none;
      border-radius: 30px;
    }
  }
  .subtitle{
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
  }
  .weather{
    text-align: center;
  }
}