$primary-color: #fff;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

body {
  background-color: yellowgreen;
}

.container {
  width: 800px;
  height: 450px;
  background-color: #bfa;
  margin: 50px auto;
  .upper {
    height: 55%;
    padding: 45px 50px 0;
    background-color: red;
    display: flex;
    justify-content: space-between;
    &__currentweather {
      width: 150px;
      text-align: center;
      color: $primary-color;
      &__temp {
        height: 70px;
        line-height: 60px;
        font-size: 70px;
      }
      &__catagory {
        text-transform: uppercase;
      }
      &__condition {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        div {
          span {
            display: block;
            font-size: 12px;
          }
          .catagory {
            text-transform: uppercase;
          }
        }
        .line {
          width: 2px;
          height: 30px;
          background-color: $primary-color;
        }
      }
    }
    &__currentcity {
      color: $primary-color;
      font-size: 20px;
      font-weight: 600;
    }
    &__currentcity::after {
      content: "";
      display: block;
      width: 50%;
      height: 2px;
      margin: 5px auto;
      background-color: $primary-color;
    }
  }

  .bottom {
    display: flex;
    height: 45%;
    background-color: #fff;
    &__othercities {
      width: 40%;
      padding-top: 20px;
      padding-left: 50px;
      background-color: #fff;
      &__city {
        margin-top: 20px;
        span {
          margin-right: 20px;
        }
      }
    }
    .line {
      width: 2px;
      height: 160px;
      margin-top: 20px;
      background-color: black;
    }
    &__nextfivedays {
      display: flex;
      justify-content: center;
      align-items: center;
      width: calc(60% - 2px);
      &__day {
        text-align: center;
        font-size: 20px;
        
        span {
          width: 100%;
          margin-bottom: 10px;
          margin-right: 20px;
          display: block;
          text-align: center;
          i{
            font-size: 30px;
          }
        }
      }
    }
  }
}
