.container .bottom__othercities__city {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  line-height: 40px;
}

.container .bottom__othercities__city span {
  display: block;
  margin-right: 20px;
}

.container .bottom__othercities__city img {
  width: 50px;
}
